<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @songs_db.title %>
</p>

<p>
  <b>Artist:</b>
  <%= @songs_db.artist %>
</p>

<p>
  <b>Comments:</b>
  <%= @songs_db.comments %>
</p>


<%= link_to 'Edit', edit_songs_db_path(@songs_db) %> |
<%= link_to 'Back', songs_dbs_path %>
